node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/
*.sublime-workspace

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock

.sentryclirc

coverage/

dist/
build/

.DS_Store
Thumbs.db

tmp/
temp/

api-principal/node_modules/
fake-crm/node_modules/

api-principal/.env
fake-crm/.env
